<%= render 'shared/newsletter' %>
<div class="copy">
  <p>
    <span class='intro'>If you’re on this page, you probably have something you’re dying to share,</span> but you need help getting it out into the world <strong>where it belongs</strong>.<br><br>I totally understand. Writing is hard. No one is a natural-born writer. It takes tons of practice and a million shitty first drafts before you produce something that you feel comfortable sharing.<br><br>The task is even bigger when you’re sharing a story that was difficult to live through and involves other people who you (may or may not) love.<br><br>That's why you need a support system.
  </p>
</div>
<div class="break">
  <%= image_tag('content1.jpg', class:'photo') %>
  <span><h2>Whether you're trying to publish a real-life story, or you want to start writing about your life to see what happens, I can help.</h2></span>
</div>
<div class="copy">
  <p>
    <span class='intro'>It's kind of like AA for writers:</span><br><br>You come to me with your writing problems - I give you the tools to fix them.<br>You tell me your deadlines - I make sure you stick to them.<br>You go off the rails – I gently set you back on track.<br>As a reader, I will also tell you what doesn't make sense, what your story is missing, and where you need to put in extra work.<br>And of course, I will make sure your writing is free of spelling and grammar errors. That's a no-brainer.<br>In short, you get my very special mix of honest, loving, rigorous, and constructive feedback.
  </p>
</div>
<div class="copy call-to-action">
  <h2>It’s	time	to	OWN	your	story. I	know	it,	you	know	it,	your	best	friend	knows	it.	Enter	your	contact	info	below	and	I’ll	send	you	everything	you	need	to get	started.</h2>
</div>
<%= render 'shared/opt_in' %>
