<%= render 'shared/newsletter' %>
<div class="copy">
  <p>
    <span class='intro'>If you're in your twenties you probably have more than a few stories that would captivate an audience.</span>  Or maybe you're going through something big, right this very second, and you need to process it. Research shows that up to 80% of life's most important moments happen by age 35. That means your twenties really really matter. You don't have to wait until you're retired to write your memoirs. You can start writing about your life today. In fact, I think that's exactly what you should do.
  </p>
</div>
<div class="break">
  <%= image_tag('content1.jpg', class:'photo') %>
  <span><h2>"You ignore girls at your peril," Elissa Schappell, author of Blueprints for Building Better Girls.</h2></span>
</div>
<div class="copy">
  <p>
    At some point in your life, you've probably been type-cast as a "slut," "smart girl," "good girl," "bitch," "go-getter," "popular," whatever.<br><br> But we all know women are multidimensional. We're just people living complicated lives that are full of stories.<br><br>I want to live in a world where women don't have to live in little boxes. I also want to live in a world where women aren't shamed for telling it like it is.<br><br>You might think it's all been done before. But the world hasn't heard your story yet.<br><br>If you've already started the writing process, I applaud you. That's a huge step. If you haven't started yet, that's ok too. Life is uncertain and weird, and writing about it is hard.<br><br>No one is a natural-born writer. It takes tons of practice and a million drafts before you produce something that you feel comfortable sharing. But creating something that feels authentic and powerful is so do-able.<br><br>Whether you're working on a screenplay, creative essay, short story, e-book or blog post, I can help you get your story out into the world where it belongs.<br><br>I offer something like AA for writers:<br><br>You come to me with your writing problems - I give you the tools to fix them.<br><br>You tell me your deadlines - I make sure you stick to them.<br><br>You go off the rails – I gently set you back on track.<br><br>I will also tell you what doesn't make sense, what your story is missing, and where you need to put in extra work.<br><br>And of course, I will make sure your writing is free of spelling and grammar errors. That's a no-brainer.<br><br>In short, you get my very special mix of honest, loving, rigorous, and constructive feedback.
  </p>
</div>
<div class="copy call-to-action">
  <h2>It’s	time	to	own	your	story. I	know	it,	you	know	it,	your	best	friend	knows	it.	Enter	your	contact	info	below	and	I’ll	send	you	everything	you	need	to get	started.</h2>
</div>
<%= render 'shared/opt_in' %>
