<%= render 'shared/newsletter' %>
<div class="copy">
  <p>
    When you think about writing about your life, you probably think about keeping a diary as a kid or a fancy autobiography. But with the Internet being the amazing resource that it is, there are tons of opportunities to share your stories with the world right now.<br><br>In fact, I think that's exactly what you should do.
  </p>
</div>
<div class="break">
  <%= image_tag('slide3.jpg', class:'photo') %>
  <span><h2>"You ignore girls at your peril," Elissa Schappell, author of Blueprints for Building Better Girls.</h2></span>
</div>
<div class="copy thinner">
  <p>
    Research shows that up to 80% of life's most important moments happen by age 35.<br><br>That means you already have more than a few stories that would captivate an audience.</span>  Or maybe you're going through something big, right this very second, and you need to process it.<br><br>You might think it's all been done before, but <span class=intro> the world hasn't heard your story yet.</span><br><br> If you've already started writing about your life, I applaud you. That's a huge step. If you haven't started yet, that's ok too. Life is weird and writing about it is hard.<br><br>It can be hard to know where to start, what to include, and when you've gone too far.<br><br>No one is a natural-born writer. It takes tons of practice and a million drafts before you produce something that you feel comfortable sharing, but <span class=intro>writing something that feels authentic and powerful is so do-able.</span><br><br>Whether you're working on a screenplay, creative essay, short story, e-book or blog post, I can help you get your story out into the world where it belongs.<br><br><br><br><span class=title>I offer something like AA for writers:</span><br><br>You come to me with your writing problems - I give you the tools to fix them.<br><br>You tell me your deadlines - I make sure you stick to them.<br><br>You go off the rails – I gently set you back on track.<br><br>I will tell you what doesn't make sense, what your story is missing, and where you need to put in extra work.<br><br> If you're looking to get published or reach more followers online, I can help with that too.<br><br>And of course, I will make sure your writing is free of spelling and grammar errors.<br><br>In short, you get my very special mix of honest, loving, rigorous, and constructive feedback.
  </p>
</div>
<div class="copy call-to-action">
  <h2>It’s	time	to	own	your	story. I	know	it,	you	know	it,	your	best	friend	knows	it.	Enter	your	contact	info	below	and	we'll get started right away.</h2>
</div>
<%= render 'shared/opt_in' %>
