<div class="home">
  <%= render 'shared/ckabout' %>
</div>
<div class="work-with-me">
  <div class="copy">
    <h2>Hey, I'm Ashley Renders.</h2>
    <p>I'm a freelance journalist who coaches other writers to find their passion, do their best work, and get published.</p>
    <p>I work with writers who either didn't learn how to pitch in journalism school or don't want to go to journalism school at all.</p>
    <p>I give my clients intensive one-on-one coaching and editing until their pitch is accepted and they've negotiated payment. It's that simple.</p>
    <p>Tell me if this is something you can relate to: you have expertise in a fascinating field, but you're stuck in a job that you hate. Or maybe you like your job, but you're feeling deprived of creativity.</p>
    <p><span class="strong">You're smart, driven, and you're a great writer.</span></p>
    <p>But you haven't created anything you're proud of since university and you're wondering how you got to this point. You thought you would be making a name for yourself by now.</p>
    <p>I remember what it felt like to be lost, confused, and desperate to do something bigger. Those days are still very fresh in my memory.</p>
    <p><span class="strong">But here's something I know to be true: you learn more from success than failure.</p></span>
    <p>Success gives you ammunition to see past the status quo. It shows you what you're doing right so you can do it again. That's how small repeated successes change your life.</p>
    <p>If you're dreaming of becoming a successful writer or journalist, then you need to experience that rush of success as soon as possible.</p>
    <p>Imagine seeing your story on the front page of a national newspaper, or freelancing from places like Paris, Mexico City or L.A. Or maybe you want to know what it feels like to work yourself to the bone on a project you really believe in.</p>
    <p>It's possible, and I can show you how.</p><br>
    <h2>Why hire a mentor?</h2>
    <p>We hire "mentors" to help us buy homes.</p>
    <p>We hire "mentors" to get our bodies into shape and meet fitness goals.
    <p>We hire "mentors" when we need help getting into college.
    <p>I hired a team of mentors through the Munk School of Global Affairs, and now I'm a freelance journalist with my own business.</p>
    <p>Most of us are here because we've paid a mentor to help us find success and happiness with our creative dreams.</p>
    <p>Unfortauntely, it's really hard to find mentorship in the journalism industry, especially if you're just starting out. You need the undivided attention of someone who is willing to show you the ropes, coach you with patience, and hold you to your promises.</p>
    <p><span class="strong">That's the kind of attention I give to my all of clients, which is why I only work with 5 people at a time.</span></p><br>
    <h2>Here's who I work with:</h2>
    <p>- Experts from other industries (law, medicine, music, etc.) who want to share their knowledge with a wider audience.</p>
    <p>- Bloggers who want to get published in other media.</p>
    <p>- Journalists who didn't learn how to pitch in j-school or need help building a solid freelance career.</p>
    <p>- Twenty-somethings who have been working for a while, but haven't found their niche yet.</p><br>
    <p><span class="strong italic">If you're ready to see your name in print then <a href="<%= work_with_me_index_path %>" class="link-in-body">head over here</a> to find out how we can work together.</span></p>
  </div>
</div>
