<%= render 'shared/newsletter' %>
<div class="copy">
  <p>
    I'm so glad you found my site and that you're interested in writing about your life.<br><br>I'm excited to get to know you, whether you're already writing about your life and trying to get better at it or you're just getting started.<br><br>My goal is to get more twenty-something women to write about their lives because I believe the world needs women to tell it like it is. I have also experienced the effects of keeping secrets first hand, and trust me - it's toxic<br><br> I want to support women so they can get their stories out into the world where they belong.
  </p>
<span class=break><h2>“The role of a writer is not to say what we can all say, but what we are unable to say.”<br><br>― Anaïs Nin</h2></span>
  </p>
</div>
<div class="copy thinner">
  <p>
    Research shows that 80% of life's biggest moments happen by age 35. Isn't that crazy? That stat really shifted my perspective about my life. It also made me feel a lot less guilty for feeling like my twenties were WAY too hard.<br><br>I got through those years by reading life stories written by strong, marvellous women like Maya Angelou, Elizabeth Gilbert, Cheryl Strayed, Rosa Luxembourg and Simone DeBeauvoir. Nothing calms me down like the drama of another woman's life, especially one that I admire.<br><br>But you don't have to be famous or even super talented at writing to create a powerful and authentic story that can help other people. You just have to WANT to tell it. Really, that's all.<br><br>You might have noticed that I don't use the word "memoir" when I talk about this kind of writing. To me, it evokes images of a dusty book written by an elderly woman reminiscing about her old lovers.<br><br>I'm not trying to help literary superstars craft their latest bestsellers.<br><br>I'm here to help women just like you put their most important stories down on paper in a way that anyone can access and enjoy. I'm talking about blogs, zines, articles, newsletters, screenplays, e-books - whatever! And if it turns into a bestselling novel, then that's great too!<br><br>I want you to know that you are allowed to start writing about your life any time you want. It's ok to write stuff just because it feels good and it helps you. Elizabeth Gilbert says so herself:
  </p>
</div>
<div class="break">
  <span><h2>"It's ok if your work is healing for you, or fascinating for you, or redemptive for you, or if it's maybe just a hobby that keeps you from going crazy. That's allowed. It's all allowed."</h2></span>
</div>
<div class="copy thinner">
  <p>
  </p>
</div>
<div class="copy">
  <p>
    Wanting to write you story is one thing, but getting started and keeping it up requires support. That's why I send out an e-mail every Sunday that will get you thinking about your life and putting it down on paper each and every week. It's my gift to you, a fellow female writer.
  <p>
</div>
<%= render 'shared/opt_in' %>
