<%= content_tag "div", class:'banner-info', data: {image: "#{asset_path 'contact.jpg'}"} do %>
<% end %>
<div class="newsletter-signup">
  <h2>Get in touch!</h2>
  <%= render 'form' %>
</div>
<%= render 'shared/instagram' %>
