<div class="body">
  <div class="copy">
    <p><span class="strong">You're a woman with a story</span><br><br>You’re also...<br>A journalist, blogger, student, entrepreneur, or employee.<br><br>You're a boss.<br><br>But...<br>Your writing doesn't look right on the page.<br>You're not having the desired effect on your audience.<br>You want to move uo to the next level in your career.<br><br>Or...<br>You've sent one too many newsletters with an embarrasing typo in the subject line.<br>You'ver working on an e-book and you need a right-hand woman who cares about your story.<br>You're submitting a really important paper, report or pitch that absolutely has to be perfect.<br><br>Whatever you're working on, your voice is important. Helping women add their perspectives to the world is what I specialize in.</p>
  </div>
  <div class="copy">
    <p><span class="strong">After I work my magic you will:</span><br><br>- Have a connected audience that gets what you’re trying to say.<br>- Get more page views, better grades, land more successful pitches and get more satisfaction from your writing overall.<br>- Feel more confident sharing your writing with the world.<br>- Understand how you can improve your writing.<br>- Be more excited to write in the future knowing that you have resources to make it easier.</p>
  </div>
  <div class="services">
    <p class="serv-title"><span class="strong">Here's what I can do</span></p>
    <div class="service">
      <img src="<%= asset_path "assets/eye.jpg" %>" alt="proofread"/>
      <p class="serv-title">Do a thorough proofread</p><p>I'll make sure there are no embarrassing spelling or grammar mistakes in your writing.<br>Starts at $25
      </p>
    </div>
    <div class="service">
      <img src="<%= asset_path "assets/scissors.jpg" %>" alt="edit"/>
      <p class="serv-title">Give it a good edit</p><p>I'll fix everything from spelling and grammar to word choice and sentence structure.<br>Starts at $30
      </p>
    </div>
    <div class="service">
      <img src="<%= asset_path "assets/heart.jpg" %>" alt="full-service"/>
      <p class="serv-title">Stick with you until the end</p><p>I'll be with you every step of the way, coaching you on your writing and helping you find the right words.<br>Starts at $100
      </p>
    </div>
  </div>
  <div class="copy">
    <p><span class="strong">Clients love working with me because...</span><br><br><span class="bold">I am über-responsive:</span> I respond to emails quickly because I know your time matters.<br><span class="bold">I do exactly what I say I’m going to do:</span> I always meet my deadlines and deliver quality work every time.<br><span class="bold">I do more than edit:</span> I see this work as an exchange of energy and I want both of us to feel good at the end of it.<br>My calendar fills up <span class="italic">fast</span>. So make sure you reserve your spot if you need something edited by a certain date and time.<br>And if you want to see what it's like to work together, I’ll gladly edit your first 100 words for free.<br>Enter your email below and we'll get started.
    </p>
  </div>
</div>
