<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hey bbl,<br><br>Someone named <%= @contact.name %> on your site contacted you. Here is the message:<br><br>from: <%= @contact.email %><br><br>"<%= @contact.body  %>"
    </p>
  </body>
</html>
