<%= content_tag "div", class:'banner-info', data: {image: 'assets/work-with-me.jpg'} do %>
<% end %>
<div class="copy">
  <p>
    Whether or not we publish our stories, it is <em>extremely</em> important that we write them.<br><br>In fact, I think the world needs every single story that women can possibly write.<br><br>I desperately want to live in a world where women’s stories are valued. I also want to live in a world where women are not shamed for telling their stories.
  </p>
</div>

<div class="services">
  <p class="serv-title"><span class="strong">Here's what I can do</span></p>
  <div class="service">
    <img src="<%= asset_path "assets/beach.gif" %>" alt="proofread"/>
    <p class="serv-title">Do a thorough proofread</p><p>I'll make sure there are no embarrassing spelling or grammar mistakes in your writing.<br>Starts at $25
    </p>
  </div>
  <div class="service">
    <img src="<%= asset_path "assets/desk.gif" %>" alt="edit"/>
    <p class="serv-title">Give it a good edit</p><p>I'll fix everything from spelling and grammar to word choice and sentence structure.<br>Starts at $30
    </p>
  </div>
  <div class="service">
    <img src="<%= asset_path "assets/notebook.gif" %>" alt="full-service"/>
    <p class="serv-title">Stick with you until the end</p><p>I'll be with you every step of the way, coaching you on your writing and helping you find the right words.<br>Starts at $100
    </p>
  </div>
</div>
<div class="copy">
  <p>
    <span class="strong">After I work my magic you will:</span><br><br>- Have a story that feels true to <em>you</em>.<br><br>- Feel confident about sharing your writing with the world.<br><br>- Know where to pitch your writing if you want to have it published<br><br>- Find a connected audience that gets what you’re trying to say.<br><br>- Understand how you can improve your writing.<br><br>- Feel more excited to write in the future knowing that you have the skills to make it easier.
    <!-- <br><br><br><span class='strong'>What I can't do:</span><br><br>Edit scientific of medical papers – I need to understand what you’re writing about.<br><br>Write copy for corporate clients – or anyone, really.<br><br>Write or re-write papers for students.<br><br>Write reference.<br><br>Reference-check or fact-check.<br><br>Edit papers so they fit the terms of a school assignment.<br><br>Cut more than 100 words from your word limit.<br><br>Respond to editing "emergencies" at 2 am.<br><br><br>If you want more information, let’s be in touch. -->
  </p>
</div>
