<%= content_tag "div", class:'banner-info', data: {image: "#{asset_path 'contact.jpg'}"} do %>
<% end %>
<div class="work-with-me">
  <div class="copy">
    <p>I'm so excited you want to start being a journalist. Not learning about being a journalist, not thinking about being a journalist - BEING a journalist.</p>
    <p>You have everything it takes to get published. You just need to show up, do the work, and learn some best practices.</p>
    <p><span class="strong italic">In fact, I guarantee I can get you published and paid.</span></p><br>
    <h2><br>Here's how we can work together<h2>
    <h3>1. Send me your pitch</h3>
    <p>If you're ready to throw your laptop out the window because no one is responding to your pitches, I can help. I'll point out the mistakes you're making so you never do them again.</p><br><br>
    <h4>This is how it works:</h4>
    <p>- You send me your pitch in a Word document and I edit the heck out of it with Tracked Changes.</p>
    <p>- I make comments in the document with tips on how to improve your pitch, question your facts, and raise any other red flags that I come across.<p>
    <p>- I  send two documents back to you: a tracked version with all of my changes visible and a clean version that you can send to the editor(s) of your choice.</p>
    <p><span class="strong italic">A one-time edit can do wonders for your pitching game. If that's what you need, skip to the bottom of this page to enter your email. I'll be in touch within 24 hours.</span></p><br><br>
    <h3>2. Hire me as your coach</h3>
    <h4>If you:</h4>
    <p>- Are just starting out</p>
    <p>- Have no idea what makes a good story</p>
    <p>- Have never written a pitch before</p>
    <p>- Haven't talked to an editor before</p>
    <p>- Are completely frozen in fear</p>
    <p>- Haven't experienced success as a writer</p>
    <p><span class="strong italic">I'll walk you through the process of finding a good story idea, writing a pitch, sending it to editors, getting it accepted and negotiating payment.</p><br><br>
    <h4>This is what you'll get:</h4>
    <p><span class="bold">- At least one pitch accepted by an editor, guaranteed.</span> I'll keep working with you until you get a "yes" from an editor.
    <p>- I'll teach you how to negotiate payment on every story so you never EVER have to write for free.
    <p>- Check-ins twice a week over Skype, telephone, or in person (depending on where you live).</p>
    <p>- Intensive coaching on your writing style.</p>
    <p>- Step-by-step guidance on how to talk to editors so that you can build strong relationships that will continue to get you published long after we finish working together.
    <p>- Unmatched copy editing on all of your pitches and emails, including spelling, grammar and unchecked facts.</p>
    <p>- Unlimited access to me via e-mail for 3 months.</p>
    <p>- A published story that you will be proud to share on all of your platforms.</p>
    <p><span class="strong italic">Think of me an editor, coach and well-connected friend who really really wants you to succeed.</span></p><br><br>
    <h2 class='quote'>"Whatever you can do, or dream you can do, begin it. Boldness has genius, power, and magic in it. Begin it now.” - William Hutchison Murray</h2><br><br>
    <h4>You're making a commitment to yourself</h4>
    <p>None of this will work unless you do. By signing on to work with me, you're committing to getting this work done because it's important to you.</p>
    <p>We'll come up with a schedule and you'll submit your work to me on time, just like you would with an editor. You'll learn how it feels like to say, "Sorry, I can't. I'm on a deadline."</p>
    <p>It will feel terrifying and amazing.</p><br><br>
    <h4>At the end of our time together you will have:</h4>
    <p>- A very clear understanding of how to write a successful pitch.</p>
    <p>- Guaranteed payment for the story that you successfully pitched.
    <p>- Personalized feedback on your writing style.</p>
    <p>- Email templates and scripts that will make editors love working with you.</p>
    <p>- A writing schedule that fits your life and helps you  achieve your goals.</p>
    <p>-A big win that you can use to propel you into a new phase in your life.</p>
    <p><br><br>
    <h4>Everything I do is customized to your needs</h4>
    <p> Need more frequent check ins? No problem. Want a less hands-on approach? We can figure that out too.</p>
    <p>Need help writing that article that you successfully pitched? Keep me on your team until you're ready to do it on your own. Dont worry, we'll figure it out together.</p><br><br>
    <p><span class="strong italic">If you're interested in working with me, then let's schedule a free 20-minute call to talk about your goals. Enter your email below and I'll be in touch within 24 hours.</span><br><br>
    <span class="italic">**If one-on-one work feels right for you, please don't hesitate to get in touch because I can only work with 5 clients at a time. I really want to see your name on my calendar, so make sure you add your name to the list.</span>
    <div class="ck-contact"><%= render 'shared/ckworkwithmecontact' %></div>
  </div>
</div>
