<%= content_tag "div", class:'banner-info', data: {image: "#{asset_path 'contact.jpg'}"} do %>
<% end %>
<div class="work-with-me">
  <div class="copy">
    <h2>I promise I will get you published and paid.</h2>
    <p>How can I do that? I'll only take you on clients who already have a solid idea that can be turned into great story.</p>
    <p>Once we've landed that perfect story, I'll help you tailor your pitch for an editor at a specific publication.</p>
    <p>If they say "no" I'll help you make the necessary adjustments so you can move on the next publication.</p>
    <p>I can't promise your pitch will be accepted on the first, second, third or even tenth try. But here's what I can promise you:</p>
    <p><span class="strong">I will keep working with you until you have a "yes" from an editor and your payment has been negotiated. It's that simple.</span></p><br><br>
    <h2>This is what you'll get:</h2>
    <p>- At least one pitch accepted by an editor, guaranteed.</p>
    <p>- I'll teach you how to negotiate payment on every story so you never EVER have to write for free.
    <p>- Check-ins twice a week over Skype, telephone, or in person (depending on where you live).</p>
    <p>- Intensive coaching on your writing style.</p>
    <p>- Step-by-step guidance on how to talk to editors so that you can build strong relationships that will continue to get you published long after we finish working together.
    <p>- Copy editing on all of your pitches and emails, including spelling, grammar and unchecked facts.</p>
    <p>- Unlimited access to me via e-mail for 3 months.</p>
    <p>- A published story that you will be proud to share on all of your platforms.</p>
    <p><span class="strong italic">Think of me an editor, coach and well-connected friend who really really wants you to succeed.</span></p><br><br>
    <h2>You're making a commitment to yourself</h2>
    <p>None of this will work unless you do. By signing on to work with me, you're committing to getting this work done because it's important to you.</p>
    <p>We'll come up with a schedule and you'll submit your work to me on time, just like you would with an editor. You'll learn how it feels like to say, "Sorry, I can't. I'm on a deadline."</p>
    <p>It will feel terrifying and amazing.</p><br><br>
    <h2>At the end of our time together you will have:</h2>
    <p>- A very clear understanding of how to write a successful pitch.</p>
    <p>- Guaranteed payment for the story that you successfully pitched.
    <p>- Personalized feedback on your writing style.</p>
    <p>- Email templates and scripts that will make editors love working with you.</p>
    <p>- A writing schedule that fits your life and helps you  achieve your goals.</p>
    <p>-A big win that you can use to propel you into a new phase in your life.</p>
    <p><br><br>
    <h2>Everything I do is customized to your needs</h2>
    <p> Need more frequent check ins? No problem. Want a less hands-on approach? We can figure that out too.</p>
    <p>Need help writing that article that you successfully pitched? Keep me on your team until you're ready to do it on your own. Dont worry, we'll figure it out together.</p><br><br>
    <h2>Yes, freelancing is tough.</h2>
    <p>But that doesn't mean you shouldn't do it, especially if your heart is in it. Journalism gives you an excuse to engage fully with the world, travel anywhere and talk to anyone. What more do you really need?</p><br>
    <p><span class="strong italic">If you're interested in working with me, then let's schedule a free 20-minute call to talk about your goals. Enter your email below and I'll be in touch within 24 hours.</span><br><br>
    <span class="italic">**If one-on-one work feels right for you, please don't hesitate to get in touch because I can only work with 5 clients at a time. I really want to see your name on my calendar, so make sure you add your name to the list.</span>
    <div class="ck-contact"><%= render 'shared/ckworkwithmecontact' %></div>
  </div>
</div>
