<%= content_tag "div", class:'banner-info', data: {image: "#{asset_path 'Chair.png'}"} do %>
<% end %>
<div class="full-post">
  <p class="blog-title">How To Get The Freelance Life You Want</p>
  <p class="post-body">This is my new office chair and it's changing my life.</p>
  <p class="post-body">It all started after a long work trip to Mexico City where everything was wonderful, inspiring and colourful.</p>
  <p class="post-body">I came home to winter in Toronto and a cold apartment. There was no art on the walls, dirt had piled up in places I hadn't looked at in a long time, and there was an old, wobbly, wooden chair sitting in the middle of my home office.</p>
  <p class="post-body">This chair was slightly depressing and didn't bode well for my work ethic now that I was back home.</p>
  <p class="post-body">So I imagined a new office chair, something that I would be excited to sit in for 8-10 hours a day.</p>
  <p class="post-body">I looked for images online, did some Kijiji searches and quickly gave up because I couldn't afford anything I liked.</p>
  <p class="post-body">Then, BOOM! There it was.</p>
  <p class="blog-strong">It was barely visible at first, sitting off to the side in a warehouse filled with castaway furniture, adorned with a $20 price tag. It was perfect.</p>
  <p class="post-body">I wheeled it up to the cash register with such intensity, the cashiers stopped their conversation and stared at me for a second.</p>
  <p class="post-body">They obviously didn't know I had conjured this chair out of my own imagination.</p>
  <p class="post-body">Don't worry; I'm not about to quote "The Secret."</p>
  <p class="post-body">I know I didn't "manifest" this chair.</p>
  <p class="post-body">I imagined what I wanted, I did some research to see what was out there, and then I purposely went to an old furniture depot to look for it. I drove it home and put it in my apartment myself. It didn't magically appear.</p>
  <p class="post-body">But, now I have something in my home - something I sit on every day - that reminds me I have the ability to imagine things and then make them happen.</p>
  <p class="post-body">That's extremely valuable, because here's the thing:</p>
  <p class="blog-strong">Leaning out to see where you're going helps you get the right stuff done.</p>
  <p class="post-body">It makes sure that all of your hard work is leading you to something that you're actually going to enjoy and be proud of.</span></p>
  <p class="post-body">I don't recommend spending all day daydreaming about what you wish you were doing. There is such a thing as too much thinking, too little doing.</p>
  <p class="post-body">But thinking about the future from time to time helps you focus on the stuff that's really important and say "no" to projects that aren't working out anymore.</p>
  <p class="post-body">And most importantly, future thinking helps you stay the course when things get rough (because things will get rough.)  If you don't know where you're going and why you're going there, you're going to get stressed, burnt out and probably quit.</p>
  <p class="post-body">We don't want to see that happen, so here's how you can get clear on your path:</p>
  <p class="post-body">- Get out a pen and paper.</p>
  <p class="post-body">- Write the date at the top of the page, but make it exactly 5 years in the future. (This act alone can be kind of jarring).</p>
  <p class="post-body">- Write down how old you are, where you're living, who you're with, how much money you're making, how you spend your days, what you're wearing, what you like to eat, your biggest accomplishments, etc.</p>
  <p class="post-body">- Get really clear about what you want and why. Go into as much detail as possible and keep going until you've exhausted your imagination.</p>
  <p class="post-body">- Stash this document somewhere private where you can access it easily, because you're not done.</p>
  <p class="post-body">You'll continue to update and revise this "living" document as you change course, come up with new goals, and knock old ones off your list. Even if you never look at it again, you might be surprised as how accurate it is 5 years from now.<p>
  <p class="post-body italic">This newsletter is a sneak peek at an online course that I'm developing for smart, driven, creative people who want to start freelance journalism careers and get paid.</p>
  <p class="post-body italic">Each week I'll give you a glimpse at the next module, along with special offers that I'll only share with my list, so make sure you sign up!
  <p class="post-body italic">If this article helped you, please share it with your family, friends, colleagues, and classmates. I also post everything on <a href="https://medium.com/@ashleyrenders/i-saved-my-journalism-career-by-making-a-job-for-myself-1ececee060b1#.ksgvz8ezd" class="link-in-body" target="_blank"> Medium,</a> in case you prefer to like and share that way.</p><br><br>
  <%= image_tag 'Rihanna.gif'%>
  <p class="blog-title">How To Get Paid As A Freelancer (Even If You Don't Have Any Clippings)</p>
  <p class="post-body">Before I tell how you to get paid as a freelancer, I want to tell you something important: you're allowed to get paid for your writing.</p>
  <p class="post-body">This might seem obvious, but the first time you have to ask to get paid or defend your fee, you'll probably see a lot (if not all) of your self worth go out the window.</p>
  <p class="post-body">I experienced this first hand last week.</p>
  <p class="post-body">Someone on Facebook criticized me for charging money for my coaching services because it's more honourable to give your advice away for free.</p>
  <p class="blog-strong">This small interaction was my worst nightmare. My hands were sweaty, my chest felt tight, my face turned red. I think my vision might have blurred for a second.</p>
  <p class="post-body">Her message seemed to scream "WHO DO YOU THINK YOU ARE FOR MAKING MONEY?" and for a minute, I was wondering that myself.</p>
  <p class="post-body">I know that I deliver a ton of value to my clients who are wasting time and energy trying to figure out their freelance careers, but this was the first time I had to defend it.</p>
  <p class="post-body">I ended up gaining more clients and followers than any other day, so I guess I did a good job.</p>
  <p class="post-body">But after the dust cleared and I had a glass of wine, I realized this was part of a bigger problem.</p>
  <p class="post-body">When you have the courage to ask for what you're worth, it's always possible that someone might freak out.
  <p class="post-body">Emotions are running high in the journalism industry because scarcity and fear around money is at an all-time high.</p>
  <p class="post-body">Asking for money in that environment is particularly vulnerable and emotionally-loaded. It's a mine field of icky feelings.</p>
  <p class="blog-strong">You might be tempted to work for free - or maybe just watch Netflix and work a day job instead - because it's safer. You can successfully avoid anything that might be even slightly uncomfortable.</p>
  <p class="post-body">Please don't do that.</p>
  <p class="post-body">You are allowed to make money from your gifts, regardless of how much experience you have.</p>
  <p class="post-body">You will be professional and easy to work with. You will put just as much work into creating a flawless piece of writing as any other writer. And you will earn every penny of what you're paid.</p>
  <p class="post-body">Here's how you do that:</p>
  <p class="post-body"><span class="strong">1. Get yourself acquainted with the going rates at various publications.</span></p>
  <p class="post-body">Once you see how many places do pay, you'll realized how ridiculous it is to work for free.</p>
  <p class="post-body"><a href="http://contently.net/rates-database/" class="link-in-body" target="_blank">The Freelancer has a great database of rates.</a> The next time you have a pitch you want to send out, scroll through this list until your story clicks with a publication.</p>
  <p class="post-body"><span class="strong">2. Pitch an amazing story to a smaller publication that pays.</p>
  <p class="post-body">This how you get started as a freelance writer without working for free. You'll slowly build up a portfolio and work up to larger publications over time. Everyone's portfolio starts at zero, so don't let that stop you.</p>
  <p class="post-body">Smaller publications often get overlooked for great stories, so they appreciate a good pitch. And niche publications often pay higher rates than larger companies.</p>
  <p class="post-body"><span class="strong">3. Ask about money right away.</p>
  <p class="post-body">When an editor accepts your story, reply with a friendly email asking about their rates. This is the time to discuss money - not after your story has been published, not when you deliver the final draft.</p>
  <p class="post-body"><span class="strong">4. In fact, don't work on a story until you've negotiated payment.</p>
  <p class="post-body">You will have to do some amount of work to write the pitch, but decide how much time you're willing to put into the pitch and then leave it alone until you get that sweet green money light from an editor.</p>
  <p class="post-body"><span class="strong">5. Get comfortable with talking about money in your regular life.</p>
  <p class="post-body">If you can't talk about money with your friends and family, you're going to have a really hard time getting paid as a freelancer.</p>
  <p class="post-body">This is a big one. If you need help, <a href="http://beingboss.club/podcast/podcast-episode-11-get-paid-like-a-boss" class="link-in-body" target="_blank">check out this amazing episode of Being Boss called "Get Paid Like A Boss."</a> As they say, "money is only as weird as you make it."</p>
  <p class="post-body"><span class="strong">6. Watch this Rihanna performance over and over until you feel better.</p><br>
  <div class="youtube">
    <iframe src="https://www.youtube.com/embed/oQW2FFt3-A8" frameborder="0" allowfullscreen></iframe>
  </div>
  <p class="post-body">Freelancing is the future, my friends. Let's make sure we're doing it right and getting paid.</p>
  <p class="post-body italic">Do you have a story you want to sell? Send me an email and tell me about it. I'd love to hear from you.</p>
  <p class="post-body italic">If this article helped you, please share it with your family, friends and colleagues. I also post everything on <a href="https://medium.com/@ashleyrenders/i-saved-my-journalism-career-by-making-a-job-for-myself-1ececee060b1#.ksgvz8ezd" class="link-in-body" target="_blank"> Medium,</a> in case you prefer to like and share that way.</p><br><br>
  <%= image_tag 'ComputerBlog.jpg'%>
  <p class="blog-title">It's ok to take care of yourself. And sometimes that means getting a job.</p>
  <p class="post-body">I recently had to reconcile three facts about myself:</p>
  <p class="post-body">1. I love being a journalist.</p>
  <p class="post-body">2.I have pretty big financial goals.</p>
  <p class="post-body">3. I hate working in an office.</p>
  <p class="post-body">It felt like I was playing that Pretty, Smart, Funny game where you have to choose two because you can never be all three at the same time.</p>
  <p class="post-body">My options seemed to be: Enjoy my freedom as a penniless freelance journalist, abandon my journalism career for a high-paying job that would allow me to travel, or keep trying to move up the ladder at my full-time journalism job and work 60+ hours per week without benefits or overtime.</p>
  <p class="post-body">The answer might seem obvious, but it took me a while to find the solution. I could have freedom, steady income and be a freelance journalist — I just needed to get a job.</p>
  <p class="post-body">I wasn’t even aware that I had financial goals until last year. I told myself that as long as I was working in the career I loved, then everything else was fine.</p>
  <p class="post-body">Maybe it’s the fact that I’m turning 30 soon, but once I started thinking about money, I couldn’t stop. I realized I wanted wanted lots of things that I had never considered before. I wanted to own a house, buy a car, travel, support a family, help my mom pay off her cottage — the list goes on. Those aren’t outrageous things to want, but if you’ve been a journalist in your twenties you’ll understand why they seemed impossible.</p>
  <p class="blog-strong">For a while, I was hung up on the idea that having another job would make me less of a journalist. If I wasn’t grinding away at an article every day, then I might as well not even try.</p>
  <p class="post-body">Lots of creatives struggle with this problem. They feel like they’re cheating on their creativity if they divert a moment of their attention away from their craft. They feel like frauds if they’re making money somewhere else.</p>
  <p class="post-body">Again, maybe it’s because my 30s are on the horizon, but I have no time for that kind of thinking anymore. It’s just not true. There’s nothing wrong with taking care of yourself so that you can have the mental clarity do the work you’re meant to do.</p>
  <p class="post-body">So that’s exactly what I did. I got a job.</p>
  <p class="post-body">And since I already knew I hated working in an office for other people, I decided to hire myself and create a brand new position: Business Owner Freelance Journalist, or Freelance Journalist Business Owner depending on which day it is.</p>
  <p class="post-body">I work on developing my business every day, I meet with the amazing people who I call my clients, and I pitch and write my own stories. I grow both sides of my professional life simultaneously and they mutually support each other.</p>
  <p class="post-body">I do this by aggressively blocking out my week like so.</p>
  <%= image_tag 'ScheduleBlog.png'%>
  <p class="post-body">Marie Forleo calls these <a href="http://www.marieforleo.com/2016/03/time-management/" class="link-in-body" target="_blank"> “tasty time chunks”</a> and without them I would be lost.</p>
  <p class="post-body">I use three- or four-hour blocks of time so that I can become fully immersed in a task before switching over to the next one. I get tired and lazy by mid-afternoon, so I stop working and go to the gym. And finally, I alternate mornings between business and journalism so that both parts of my life get the best hours of my day.</p>
  <p class="post-body">I set weekly goals on Sundays and I schedule my week to make sure they’re complete by Friday. I put every single thing I need to do in my calendar, including emails, web browsing, and tweaking my website. I keep moving them over to the next day until they’re done.</p>
  <p class="post-body">I love getting shit done and these strategies help me do that. But the real reason I stick to this schedule is because I want to be a journalist so badly and I want other people to do the same.</p>
  <p class="blog-strong">I don’t want to quit because of money and I don’t want anyone else to quit either.</p>
  <p class="post-body">Yes, it’s difficult, dangerous work and we should all be paid better for the important service we provide. But how terrible would it be if we all stopped doing our work because the system starved us to death?</p>
  <p class="post-body">Let’s remember, we are the creative ones here. We can figure it out.</p>
  <p class="post-body">Let’s also remember that journalism, like all creative work, is worth doing even if it won’t pay the bills. It gives you an excuse to live fully in the world, travel anywhere, and talk to anyone. It’s can save you from ambivalence, uncertainty and crippling anxiety (like it did for me in my early twenties).</p>
  <p class="post-body">Again, I’m not saying it’s okay or healthy for society that journalists aren’t being paid properly. I’m worried about it and I hope it changes it soon.</p>
  <p class="post-body">But in the meantime, I’ll be working, writing, getting published and encouraging other people to do the same.</p>
  <p class="post-body">It’s still scary to tell people (especially other journalists) that I have another job, but the pay off is absolutely worth it. I’ve never been happier or more at ease.</p>
  <p class="post-body">Now that I’ve taken the financial burden off of my work, I’m enjoying journalism more. I’m pursuing stories that wouldn’t have made financial sense if I was relying on my freelance income. I’m focusing on issues that move me, rather than the stories that will bring in a quick buck. That freedom alone is worth the time and effort that I’ve put into my business so far.</p>
  <p class="post-body">So please:</p>
  <p class="post-body">If you’re feeling psychologically frayed by the stress of not knowing where your next pay cheque will come from, please go find some work. Get some extra money before you give up. Get a part-time job so you can be a better journalist. The journalism industry needs you, even if it doesn’t act like it.</p>
  <p class="post-body">And no matter what anyone tells you, you’re no less of a journalist for taking care of yourself — ever.</p>
  <p class="post-body italic">If this article helped you, please share it with your family, friends and colleagues. I also post everything on <a href="https://medium.com/@ashleyrenders/i-saved-my-journalism-career-by-making-a-job-for-myself-1ececee060b1#.ksgvz8ezd" class="link-in-body" target="_blank"> Medium,</a> in case you prefer to like and share that way.</p>
</div>
