<%= content_tag "div", class:'banner-info', data: {image: "#{asset_path 'elizabeth-gilbert.jpg'}", credit: "Some person"} do %>
<% end %>
<div class="full-post">
  <span class="strong post-title linotype">You're Allowed To Write For Yourself First</span>
  <p class="post-body">We can all agree that writing is scary and there are lots of reasons not to do it. But there's one that will probably trip you before you even get started, and that's "it won't help anyone."</p>
  <p class="post-body">Alterations on this fear include "no one will care about what I have to say," "no one will understand me," "no one feels the same way I do."</p>
  <p class="post-body">Sometimes a piece of work will resonate with millions of people around the world and help them deal with their own problems, like <span class="italic">Eat, Pray, Love</span> did when it was published a decade (!!!) ago.</p>
  <p class="post-body">But it might not. You might be the only person in the world who benefits from your writing. And that's ok!</p>
  <p class="post-body"><span class="italic">Eat, Pray, Love</span> got tons of flack for being annoying, self-absorbed, unrealistic, and generally insufferable. Whether or not you agree is beside the point because Elizabeth Gilbert didn't write that book for you - she wrote it for herself.</p><p class="post-body">She was trying to make sense of her own life, which happened to resonate with <span class="italic">lots</span> of women around the world.</p>
  <p class="post-body">But here's the thing: she had no idea whether or not anyone would understand her when she started.  All of her books before that were either short fiction or biographies. She had no blueprint for how to make her own experience relatable to other women. <span class="bold">But she wrote the book anyway</span>.</p>
  <p class="post-body">She didn't think about whether or not she was going to help anyone because she was so focused on helping herself.</p>
  <p class="post-body">Gilbert actually makes a case for why writers <span class="italic">shouldn't</span> try to help their readers in her latest book <span class="italic">Big Magic</span>.</p>
  <p class="post-body">First of all, trying to help your reader puts too much pressure on them. They can "feel the weight of your intention," which makes for bad writing, she says.</p>
  <p class="post-body">But more importantly, this fabricated burden can stop us from doing our work in the first place.</p>
  <p class="post-body">Thinking that we have nothing useful to contribute to the world is the oldest excuse in the book. It stops us dead in our tracks before we even consider helping ourselves.</p>
  <p class="post-body">Luckily, we're not actually required to save the world with our creativity, says Gilbert. All we have to do is show up and do the work that we're called to do.</p>
  <p class="post-body">This is something that all writers get hung up on, but I think it's especially difficult for female writers. Writing is one of the places where we don't have to think about anyone but ourselves.</p>
  <p class="post-body">It's much easier to think that we're helping someone else by sitting down to write. And if we're not helping someone, we should probably do doing more useful with our time.</p>
  <p class="post-body">So if you catch yourself thinking this before you even get a word down on the page, I suggest you repeat this quote by Elizabeth Gilbert to yourself (I love it so much, I put it on my homepage):</p>
  <p class="post-body">"It's ok if your work is fun for you.... It's okay if your work is healing for you, or fascinating for you, or redemptive for you, or if it's maybe just a hobby that keeps you from going crazy.... <span class="bold">That's allowed. It's all allowed.</span>"</p>
  <p class="post-body">This makes the decision to write so simple: Do it because you <span class="bold">need</span> to. Not if you want to, because most of don't actually want to sit down and torture ourselves. It's ok to do it because you need to.</p>
  <p class="post-body">Now go. You can't say no one gave you permission.</p>
</div>
