<%= content_tag "div", class:'banner-info', data: {image: "#{asset_path 'ComputerBlog.jpg'}"} do %>
<% end %>
<div class="full-post">
  <p class="blog-title">I created a new job for myself to save my journalism career</p>
  <p class="post-body">I recently had to reconcile three facts about myself:</p>
  <p class="post-body">1. I love being a journalist.</p>
  <p class="post-body">2.I have pretty big financial goals.</p>
  <p class="post-body">3. I hate working in an office.</p>
  <p class="post-body">It felt like I was playing that Pretty, Smart, Funny game where you have to choose two because you can never be all three at the same time.</p>
  <p class="post-body">My options seemed to be: Enjoy my freedom as a penniless freelance journalist, abandon my journalism career for a high-paying job that would allow me to travel, or keep trying to move up the ladder at my full-time journalism job and work 60+ hours per week without benefits or overtime.</p>
  <p class="post-body">The answer might seem obvious, but it took me a while to find the solution. I could have freedom, steady income and be a freelance journalist — I just needed to get a job.</p>
  <p class="post-body">I wasn’t even aware that I had financial goals until last year. I told myself that as long as I was working in the career I loved, then everything else was fine.</p>
  <p class="post-body">Maybe it’s the fact that I’m turning 30 soon, but once I started thinking about money, I couldn’t stop. I realized I wanted wanted lots of things that I had never considered before. I wanted to own a house, buy a car, travel, support a family, help my mom pay off her cottage — the list goes on. Those aren’t outrageous things to want, but if you’ve been a journalist in your twenties you’ll understand why they seemed impossible.</p>
  <p class="blog-strong">For a while, I was hung up on the idea that having another job would make me less of a journalist. If I wasn’t grinding away at an article every day, then I might as well not even try.</p>
  <p class="post-body">Lots of creatives struggle with this problem. They feel like they’re cheating on their creativity if they divert a moment of their attention away from their craft. They feel like frauds if they’re making money somewhere else.</p>
  <p class="post-body">Again, maybe it’s because my 30s are on the horizon, but I have no time for that kind of thinking anymore. It’s just not true. There’s nothing wrong with taking care of yourself so that you can have the mental clarity do the work you’re meant to do.</p>
  <p class="post-body">So that’s exactly what I did. I got a job.</p>
  <p class="post-body">And since I already knew I hated working in an office for other people, I decided to hire myself and create a brand new position: Business Owner Freelance Journalist, or Freelance Journalist Business Owner depending on which day it is.</p>
  <p class="post-body">I work on developing my business every day, I meet with the amazing people who I call my clients, and I pitch and write my own stories. I grow both sides of my professional life simultaneously and they mutually support each other.</p>
  <p class="post-body">I do this by aggressively blocking out my week like so.</p>
  <%= image_tag 'ScheduleBlog.png'%>
  <p class="post-body">Marie Forleo calls these <a href="http://www.marieforleo.com/2016/03/time-management/" class="link-in-body" target="_blank"> “tasty time chunks”</a> and without them I would be lost.</p>
  <p class="post-body">I use three- or four-hour blocks of time so that I can become fully immersed in a task before switching over to the next one. I get tired and lazy by mid-afternoon, so I stop working and go to the gym. And finally, I alternate mornings between business and journalism so that both parts of my life get the best hours of my day.</p>
  <p class="post-body">I set weekly goals on Sundays and I schedule my week to make sure they’re complete by Friday. I put every single thing I need to do in my calendar, including emails, web browsing, and tweaking my website. I keep moving them over to the next day until they’re done.</p>
  <p class="post-body">I love getting shit done and these strategies help me do that. But the real reason I stick to this schedule is because I want to be a journalist so badly and I want other people to do the same.</p>
  <p class="blog-strong">I don’t want to quit because of money and I don’t want anyone else to quit either.</p>
  <p class="post-body">Yes, it’s difficult, dangerous work and we should all be paid better for the important service we provide. But how terrible would it be if we all stopped doing our work because the system starved us to death?</p>
  <p class="post-body">Let’s remember, we are the creative ones here. We can figure it out.</p>
  <p class="post-body">Let’s also remember that journalism, like all creative work, is worth doing even if it won’t pay the bills. It gives you an excuse to live fully in the world, travel anywhere, and talk to anyone. It’s can save you from ambivalence, uncertainty and crippling anxiety (like it did for me in my early twenties).</p>
  <p class="post-body">Again, I’m not saying it’s okay or healthy for society that journalists aren’t being paid properly. I’m worried about it and I hope it changes it soon.</p>
  <p class="post-body">But in the meantime, I’ll be working, writing, getting published and encouraging other people to do the same.</p>
  <p class="post-body">It’s still scary to tell people (especially other journalists) that I have another job, but the pay off is absolutely worth it. I’ve never been happier or more at ease.</p>
  <p class="post-body">Now that I’ve taken the financial burden off of my work, I’m enjoying journalism more. I’m pursuing stories that wouldn’t have made financial sense if I was relying on my freelance income. I’m focusing on issues that move me, rather than the stories that will bring in a quick buck. That freedom alone is worth the time and effort that I’ve put into my business so far.</p>
  <p class="post-body">So please think about this:</p>
  <p class="post-body">If you’re feeling psychologically frayed by the stress of not knowing where your next pay cheque will come from, please go find some work. Get some extra money before you give up. Get a part-time job so you can be a better journalist. The journalism industry needs you, even if it doesn’t act like it.</p>
  <p class="post-body">And no matter what anyone tells you, you’re no less of a journalist for taking care of yourself — ever.</p>
  <p class="post-body italic">If this article helped you, please share it with your family, friends and colleagues. I also post everything on <a href="https://medium.com/@ashleyrenders/i-saved-my-journalism-career-by-making-a-job-for-myself-1ececee060b1#.ksgvz8ezd" class="link-in-body" target="_blank"> Medium,</a> in case you prefer to like and share that way.</p>
</div>
