<%= content_tag "div", class:'banner-info', data: {image: 'assets/about.gif'} do %>
<% end %>

<div class="about-intro">
  <div class='about-text'><span class='intro'> Hey, I'm Ashley Renders.</span><br><br>I started "Yeah, I Said It" to help more women write about their lives and reach wider audiences with their stories.<br><br>In my twenties I moved back into my mom's house a total mess. I arrived via Australia via South America via New York via Berlin. I had been wandering around the world, absolutely lost, in a bad relationship, broke, and super anxious.<br><br>To put it lightly, it was a super confusing time when nothing made sense.</div>
  <%= render 'shared/newsletter_box' %>
</div>
<div class="copy">
  <p>
    While I was living with my mom trying to get my life together, I bought a typewriter from a charity shop. And from my childhood bedroom I typed all day long. I read books and typed. I cried and typed. I ate sandwiches and typed.<br><br>This need to write things down in order to understand them was an old habit.<br><br>Around 9 years old I developed a phobia of aliens. I still have it, but I've mostly grown out of it. I spent a few weeks one summer in the public library reseraching everything I could about alien abudctions and sightings. I wrote my notes on lined paper and kept them in a green Five Star binder. It made me feel better.<br><br> This love of writing led me to become an editor and a journalist. Since then, I've edited well over 1 million words for clients around the world and worked for some of Canada's top media companies. My latest job title was Associate Producer at VICE Canada.<br><br> <span class=intro>Now, my goal is my goal is simple: to get as many women as possible tell it like it is. Because women who own their stories are unstoppable.</span>
  </p>
</div>

<%= render 'shared/instagram' %>
