<%= content_tag "div", class:'banner-info', data: {image: 'assets/about.gif'} do %>
<% end %>

<div class="about-intro">
  <div class='about-text'><span class='intro'>At 25 I moved back into my mom's house a total mess. I arrived in Chatham, Ontario population 40,000 from Australia via South America via New York via Berlin. I had literally been wandering around the world, absolutely lost. I had just walked away from a bad relationship, I was broke (and a little broken), super anxious about my future and confused about where things had gone wrong.</span></div>
  <%= render 'shared/newsletter_box' %>
</div>
<div class="copy">
  <p>
    But luckily, I had an itch that felt soooo good to scratch.<br><br>While I was living with my mom trying to get my life together, I bought a typewriter from a charity shop. And from my childhood bedroom - the one I thought I would never live in again - I typed all day long. I read books and typed. I cried and typed. I ate sandwiches and typed. I needed to understand what happened, and the only way to do that was to write it down.<br><br>I wanted to share my story so badly, but I didn't know how. I couldn't figure out how to get what was inside me out into the world. I was afraid and ashamed of what I had to say, but I knew I had to say it.<br><br>Being in your twenties as a woman is crazy. We're coming out of adolescence with all the labels people gave us at school and absolutely no idea about how to be an adult. The future is a massive, terrifying grey zone. Home doesn't feel right, but we don't know where our new home is or what it's going to look like.<br><br>I want to help more women write during these intense times. Because it's honestly the best thing you can possibly do. 
  </p>
</div>

<%= render 'shared/instagram' %>
