<%= content_tag "div", class:'banner-info', data: {image: 'assets/about.gif'} do %>
<% end %>

<div class="about-intro">
  <div class='about-text'><span class='intro'>At	25	I	moved	back	into	my	mom's	house	a total	mess.	I	arrived	in	Chatham,	Ontario	population	40,000	from	Australia	via	South	America	via	New	York	via	Berlin.	I	had	literally	been	wandering	around	the	world, absolutely	lost.	I	had	just	walked	away from	a	bad	relationship...</span></div>
  <%= render 'shared/newsletter_box' %>
</div>
<div class="copy">
  <p>
    I	was	broke	(and	a	little	broken), super anxious about	my	future	and	confused about where	things	had	gone	wrong. But	luckily,	I	had	an	itch	that	felt	soooo	good	to	scratch. While	I	was	living	with	my	mom	trying	to	get	my	life	together,	I	bought	a	typewriter from	a	charity	shop.	And	from	my	childhood	bedroom,	I	typed	all	day	long.	I	read books	and	typed.	I	cried	and	typed.	I	ate	sandwiches	and	type.	I	just	needed	to understand	what	I	was	going	through,	and	I	needed	to	write	it	down.	I	still	have those	notes,	and	they	have	served	me	well.	I	want	other	women,	especially	young	women	in	their	20s,	to	do	the	same	thing	because	I	believe	writing	is	one	of	the	most	healing,	producGve,	creaGve	things	we can	do	with	our	pain.	It	took	me	a	long	time	to	full	scratch	that	itch	because	I	was	doing	it	alone.	I	wanted to	share	my	story	so	badly,	but	I	didn't	know	how.	I	couldn't	figure	out	how	to	get	what	was	inside	me	out	into	the	world.	I	was	afraid	and	ashamed	of	what	I	had	to say. I	want	to	help	more	women	tell	their	stories.	Because	I	believe	in	a	world	that values	women's	lives	and	doesn't	shame	women	for	telling	it	like	it	is.
  </p>
</div>
