// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-intro {
  margin: 0 20px;
}

.about-intro .about-text {
  display: inline-block;
  float: left;
  width: 490px;
  margin: 20px 0 10px;
  line-height: 25px;
  font-size: 15px;
}

.copy img {
  width: 350px;
  margin-top: 20px;
}

@media only screen
  and (min-width : 414px)
  and (max-width : 736px) {

}
