/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 */

body {
  color: #333;
  background: #eee;
}

body a {
  text-decoration: none;
  color: #111;
  font-weight: 400;
}

body a:hover {
  color: #f36;
}

h1 {
  font-size: 40px;
  letter-spacing: 6.7px;
  font-weight: 800;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 15px;
}

.bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.strong {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 800;
  text-transform: capitalize;
}

.title {
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.linotype {
  font-family: Linotype;
}

.intro {
  padding-left: 4px;
  font-size: 20px;
  font-weight: 800;
  font-family: GeorgiaItalic;
}

.whitewrapper {
  background: #fff;
  margin-top: -30px;
}

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 30px 0;
  letter-spacing: 0.5px;
  font-family: 'Raleway', sans-serif;
}

.header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#notice {
  padding-top: 20px;
}

.logo {
  height: 250px;
  object-fit: cover;
}

.menu {
  margin: 0 auto 5px;
  padding-top: 10px;
  text-align: center;
}

.menu .home img {
  display: none;
}

.menu-item {
  display: inline-block;
  width: 180px;
  height: 50px;
}

.menu-item span {
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  top: 13px;
}

.active {
  color: #f36;
  font-size: 10px;
}

.banner {
  height: 650px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  position: relative;
}

.banner .photo-credit {
  position: absolute;
  bottom: -10px;
  left: 245px;
  font-size: 8px;
  color: #aaa;
}

.newsletter-signup {
  clear: both;
  margin: 24px auto;
  padding: 25px 100px 35px;
  border: 1px solid #777;
  border-left: none;
  border-right: none;
  color: #333;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
}

.newsletter-signup h3 {
  padding-bottom: 15px;
  margin: -3px 70px 0;
}

label {
  display: none;
}

.mc-field-group {
  float: left;
  width: 300px;
  margin: 0 12px;
}

.mc-field-group input {
  width: 250px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  height: 30px;
}

#mc-embedded-subscribe {
  background-color: #333;
  color: #eee;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  width: 80px;
  height: 30px;
  margin: 2px 12px 0;
}

#mc-embedded-subscribe:hover {
  background-color: #f36;
}

.box {
  margin: 20px 0 0;
  padding: 30px 30px 10px;
  width: 360px;
  height: 210px;
  float: right;
  border: 1px solid #777;
  clear: none;
}

.box .mc-field-group {
  width: 160px;
  margin: 0 10px;

}

.box .mc-field-group input {
  width: 100%;
}

.box h3 {
  margin: 0 0 25px;
  padding: 0;
}

.box .clear {
  clear: both;
}

.box #mc-embedded-subscribe {
  clear: both;
  margin: 15px auto;
}

.instagram {
  margin: 20px auto;
  text-align: center;

}

#instafeed {
  margin: 20px auto;
}

#instafeed a {
  margin: 0 5px;
}

.opt-in {
  clear: both;
  text-align: center;
  max-width: 600px;
  margin: 30px auto;
}

.opt-in label {
  display: none;
}

.opt-in .mc-field-group {
  float: left;
  width: 200px;
}

.opt-in .mc-field-group input {
  width: 200px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  height: 30px;
}

.opt-in #mc-embedded-subscribe {
  margin: 3px 0;
}

.copy {
  clear: both;
  height: auto;
  padding: 20px;
}

.copy p {
  line-height: 25px;
  color: #333;
}

.thinner {
  line-height: 10px;
}

.break {
  height: 250px;
  margin: 30px 0 50px;
  font-family: GeorgiaItalic;
}

.break .photo {
  float: left;
  height: 250px;
  margin-left: 20px;
}

.break h2 {
  padding: 80px 40px 80px 420px;
  line-height: 30px;
  font-weight: 800;
}

.call-to-action {
  margin: 40px 100px 0;
  line-height: 25px;
  font-family: GeorgiaItalic;
}

.actions input {
  background-color: #333;
  color: #eee;
  border: none;
  height: 24px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  width: 80px;
  height: 30px;
}

.actions input:hover {
  background-color: #f36;
}

.footer {
  clear: both;
  margin: 30px auto;
  text-align: center;
  position: relative;
  background: #eee;
}

.footer a:hover {
  color: #555;
}

.footer .first-row {
  display: flex;
  justify-content: center;
}

.footer .social-media, .footer .newsletter-footer, .footer .logo {
  margin: 20px;
  display: inline-block;
  height: 100px;
  width: 200px;
  float: left;
}

.footer .logo {
  padding: 10px 20px;
  height: 120px;
}

.footer .logo img {
  width: 100%;
}

.footer .logo:hover {
  opacity: 0.7;
}

.footer .logo p {
  font-size: 33px;
  padding-top: 40px;
}

.newsletter-footer {
  padding: 10px 80px;
  width: 200px;
  height: 100px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  clear: none;
}

.newsletter-footer .mc-field-group {
  clear:both;
  width: 160px;
  margin: 0 auto;
}

.newsletter-footer .mc-field-group input {
  width: 200px;
  margin: 5px 0;
  padding-left: 10px;
  height: 20px;
  text-align: left;
}

.newsletter-footer .mc-field-group input:active {
}

.newsletter-footer h3 {
  margin: 0 0 10px;
  padding: 0;
}

.newsletter-footer #mc-embedded-subscribe {
  margin: 15px auto;
  width: 130px;
  height: 25px;
  padding: 4px;
}

.newsletter-footer #mc-embedded-subscribe:hover {
  background-color: #333;
  opacity: 0.5;
}

.footer .social-media {
  padding-top: 50px;
  height:50px;
}

.footer .social-media img:hover, .footer a:hover p {
  color: #111;
  opacity: 0.5;
}

.footer .social-media img {
  display: inline-block;
  width: 16px;
  margin: 0 10px;
}

.footer .copyright {
  clear: both;
  font-size: 10px;
  margin: 0 auto 10px 40px;
}

.footer .copyright span {
  margin: 0 10px;
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-width: 480px){

  .menu .home span {
    display = none;
  }

  .menu .home img {
    display: block;
  }

  .banner, .slide img {
    height: 220px;
    width: 100%;
  }

  .slide a, .slide-caption {
    width: 120px;
    font-size: 12px;
    line-height: 16px;
  }

  .slide a {
    margin-left: 2px;
    font-size: 10px;
  }

  .caption-one {
    top: 25px;
    right: 25px;
  }

  .caption-two {
    top: 10px;
    left: 15px;
  }

  .caption-three {
    top: 20px;
    left: 30px;
  }

  .newsletter-signup {
    margin: 20px 20px;
    padding: 20px 10px;
  }

  .newsletter-signup .mc-field-group {
    width: 50%;
  }

  #mc-embedded-subscribe {
    margin-top: 10px;
  }

  .services {
    margin: 20px auto 0;
    text-align: center;
  }

  .service {
    display: inline-block;
    border: none;
    float: none;
  }

  .posts {
    margin: 20px auto 0;
    text-align: center;
  }

  .post {
    display: inline-block;
    float: none;
    width: 80%;
  }

  .post img {
    width: 100%;
    height: 200px;
  }
}
