// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_contact {
  clear: both;
  margin: 44px auto 0;
  padding: 25px 100px 35px;
  border: 1px solid #777;
  border-left: none;
  border-right: none;
  color: #333;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
}

.new_contact .new_contact {
  border: none;
  margin: 0;
}

.new_contact h2 {
  margin: 20px 0 0;
}

.new_contact input {
  text-align: center;
  height: 30px;
  width: 200px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
}

.new_contact .field textarea {
  height: 200px;
  width: 300px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  padding: 10px;
}

.new_contact .actions {
  margin-top: 20px;
}
