body {
  color: #333;
  background: #fff;

  a {
    text-decoration: none;
    color: #111;
    font-weight: 400;
  }

  a:hover {
    color: #f36;
  }
}

h1 {
  font-size: 40px;
  letter-spacing: 6.7px;
  font-weight: 800;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

.bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.strong {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 800;
}

.title {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.linotype {
  font-family: Linotype;
}

.georgia {
  font-family: Georgia;
  font-size: 20px;

}

.intro {
  padding-left: 4px;
  font-size: 20px;
  font-weight: 800;
  font-family: GeorgiaItalic;
}

.whitewrapper {
  background: #fff;
  margin-top: -30px;
}

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 30px 0;
  letter-spacing: 0.5px;
  font-family: 'Raleway', sans-serif;
}

.header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#notice {
  padding-top: 20px;
}

.logo {
  margin-top: 20px;
  width: 800px;
}

.menu {
  margin: 0 auto 5px;
  padding-top: 10px;
  text-align: center;
}

.menu .home img {
  display: none;
}

.menu-item {
  display: inline-block;
  width: 180px;
  height: 50px;
}

.menu-item span {
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  top: 13px;
}

.active {
  color: #f36;
  font-size: 10px;
}

.banner {
  height: 650px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  position: relative;
}

.banner .photo-credit {
  position: absolute;
  bottom: -10px;
  left: 245px;
  font-size: 8px;
  color: #aaa;
}

.body {
  margin: 20px 0;
}

label {
  display: none;
}

.mc-field-group {
  float: left;
  width: 300px;
  margin: 0 12px;
}

.mc-field-group input {
  width: 250px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  height: 30px;
}

#mc-embedded-subscribe {
  background-color: #333;
  color: #eee;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  width: 80px;
  height: 30px;
  margin: 2px 12px 0;
}

#mc-embedded-subscribe:hover {
  background-color: #f36;
}

.box {
  margin: 20px 0 0;
  padding: 30px 30px 10px;
  width: 360px;
  height: 210px;
  float: right;
  border: 1px solid #777;
  clear: none;
}

.box .mc-field-group {
  width: 160px;
  margin: 0 10px;

}

.box .mc-field-group input {
  width: 100%;
}

.box h3 {
  margin: 0 0 25px;
  padding: 0;
}

.box .clear {
  clear: both;
}

.box #mc-embedded-subscribe {
  clear: both;
  margin: 15px auto;
}

.instagram {
  font-family: Raleway;
  margin: 20px auto;
  text-align: center;
}

.instagram .title {
  font-size: 30px;
}

#instafeed {
  margin: 30px auto;
}

#instafeed a {
  margin: 0 5px;
}

#instafeed img {
  width: 155px;
}

.opt-in {
  clear: both;
  text-align: center;
  max-width: 600px;
  margin: 30px auto;
}

.opt-in label {
  display: none;
}

.opt-in .mc-field-group {
  float: left;
  width: 200px;
}

.opt-in .mc-field-group input {
  width: 200px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  height: 30px;
}

.opt-in #mc-embedded-subscribe {
  margin: 3px 0;
}

.copy {
  clear: both;
  height: auto;
  padding: 20px 75px;
}

.link-in-body {
  color: #2aa869;
  font-weight: bold;
}

.copy p {
  line-height: 25px;
  color: #333;
}

.thinner {
  line-height: 10px;
}

.break {
  height: 250px;
  margin: 30px 0 50px;
  font-family: GeorgiaItalic;
}

.break .photo {
  float: left;
  height: 650px;
}

.break h2 {
  padding: 80px 40px 80px 420px;
  line-height: 30px;
  font-weight: 800;
}

.call-to-action {
  margin: 40px 100px 0;
  line-height: 25px;
  font-family: GeorgiaItalic;
}

.actions input {
  color: #fff;
  margin: 10px 0px 0px;
  font-size: 20px;
  background: #20ab73;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  text-shadow: none;
  height: 40px;
}

.actions input:hover {
  // background-color: #f36;
}

.footer {
  clear: both;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background: #fff;
}

.footer a:hover {
  color: #555;
}

.footer .first-row {
  display: flex;
  justify-content: center;
}

.footer .social-media, .footer .newsletter-footer, .footer .logo {
  display: block;
  height: 100px;
  width: 200px;
  margin: 0 auto;
}

.footer .logo {
  height: 50px;
  width: 300px;
}

.footer .logo img {
  width: 100%;
}

.footer .logo:hover {
  opacity: 0.7;
}

.footer .logo p {
  font-size: 33px;
  padding-top: 40px;
}

.newsletter-footer {
  padding: 10px 80px;
  width: 200px;
  height: 100px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  clear: none;
}

.newsletter-footer .mc-field-group {
  clear:both;
  width: 160px;
  margin: 0 auto;
}

.newsletter-footer .mc-field-group input {
  width: 200px;
  margin: 5px 0;
  padding-left: 10px;
  height: 20px;
  text-align: left;
}

.newsletter-footer .mc-field-group input:active {
}

.newsletter-footer h3 {
  margin: 0 0 10px;
  padding: 0;
}

.newsletter-footer #mc-embedded-subscribe {
  margin: 15px auto;
  width: 130px;
  height: 25px;
  padding: 4px;
}

.newsletter-footer #mc-embedded-subscribe:hover {
  background-color: #333;
  opacity: 0.5;
}

.footer .social-media {
  height: 50px;
  margin-top: 13px;
}

.footer .social-media img:hover, .footer a:hover p {
  color: #111;
  opacity: 0.5;
}

.footer .social-media img {
  display: inline-block;
  width: 16px;
  margin: 0 10px;
}

.footer .copyright {
  clear: both;
  font-size: 10px;
  margin: 0 auto 10px;
}

.footer .copyright span {
  margin: 0 10px;
}

/* #### Mobile Phones Portrait #### */
@media only screen
  and (max-width : 736px) {

  .logo {
    width: 100%;
  }

  .menu-item {
    display: block;
    margin: 0 auto;
  }

  .banner {
    height: auto;
    min-height: 270px;
  }

  .copy {
    padding: 0 20px;
    margin-top: 50px;
  }
  // .menu .home span {
  //   display: none;
  // }
  //
  // .menu .home img {
  //   display: block;
  // }
  //
  // .banner, .slide img {
  //   height: 220px;
  //   width: 100%;
  // }
  //
  // .slide a, .slide-caption {
  //   width: 120px;
  //   font-size: 20px;
  //   line-height: 16px;
  // }
  //
  // .slide a {
  //   margin-left: 2px;
  //   font-size: 10px;
  // }
  //
  // .caption-one {
  //   top: 25px;
  //   right: 25px;
  // }
  //
  // .caption-two {
  //   top: 10px;
  //   left: 15px;
  // }
  //
  // .caption-three {
  //   top: 20px;
  //   left: 30px;
  // }
  //
  // .clear {
  //   clear: both;
  // }
}
