// Place all the styles related to the WorkWithMe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.work-with-me p {
  margin: 15px 0 5px;
  line-height: 22px;
}

.work-with-me h2 {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 800;
  margin: 5px 10px 40px;
}

.work-with-me h3 {
  margin: 40px 0 20px;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: capitalize;
}
