<div class="testimonials">
  <div class="testimonial">
    <div class="pic">
      <%= image_tag 'Allie.jpg' %>
      <p class='name'>
        Alie Lavoie, Writer
      </p>
    </div>
    <div class="testimony">
      <p>
        "I wasn't exactly sure what I was looking to get out of my conversation with Ashley about breaking into freelance writing and getting published, but I really liked her vibes when we chatted over e-mail. So I followed my gut and we set a date to meet in person -- and I'm super glad we did! I'd hit a slump, and had been feeling like my marketing work was sapping my creative energy and desire to pursue writing that actually made me happy (and not just writing that paid the bills).
      </p>
      <p>
        My conversation with Ashley re-invigorated me. She gave me helpful insights into the freelance world, great tips and resources for how to craft a killer pitch, and even the names of specific publications and editors that she's enjoyed working with.
      </p>
      <p>
        So even if you're a total newbie to the freelance world or are feeling (like I was) scared/intimidated about trying to break into said freelance world... just bite the bullet and get in touch with Ashley. Her enthusiasm is infectious and she earnestly believes that everyone has a story worth telling, which is a pretty empowering feeling to walk away with."
      </p>
    </div>
  </div>
  <div class="testimonial black">
    <div class="testimony">
      <p>"The reason most would-be freelance writers fail is simple: they never take action. They dream, but they never send a pitch. They research, but they never follow through.</p>
      <p>Getting started as a freelance writer is a daunting challenge full of uncertainty, overwhelming complexity and lots of fear. Ashley Renders helps new writers cut through all the obstacles and jump into action. Her newsletter helps would-be writers become working writers.</p>
      <p>Ashley only works one-on-one with a small number of writers at a time, but for those who don't have the good fortune to have her personal guidance, her newsletter is the next best thing.</p>
      <p>The best thing would-be writers can do to ensure their success is to enlist the help of a mentor on their journey. Ashley helps writers make the big leap and land with a flourish!"</p>
    </div>
    <div class="pic">
      <%= image_tag 'Jill_Jeffers.JPG' %>
      <p class='name'>
        Jill Jeffers, Writer
      </p>
    </div>
  </div>
</div>
